a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container, .services-wrap {
  margin: auto;
  padding: 0 15px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container, .services-wrap {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container, .services-wrap {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container, .services-wrap {
    width: 1200px;
  }
}

.section, .portfolio-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.paragraph-basic, .footer-input-title, .join-contacts__title, .img-services__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.inputs, .form-comment, .modal-form__input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.logo-footer, .logo-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
@media screen and (max-width: 1200px) {
  .logo-footer, .logo-header {
    font-size: 24px;
    line-height: 1.16;
  }
}

.title-clients, .title-team, .section-team, .title-services {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo-header {
  color: #212121;
  margin-right: 93px;
}

.logo__text {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
}
@media screen and (max-width: 1200px) {
  .logo__text {
    font-size: 24px;
  }
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  color: #fff;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}

.nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .nav-box {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

.nav-list__link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: #2196F3;
}

.nav-list__item {
  position: relative;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .contact-list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contact-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contact-list__icon {
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list__link:hover, .contact-list__link:focus {
  color: #2196F3;
}
.contact-list__link:hover .contact-list__icon, .contact-list__link:focus .contact-list__icon {
  fill: #2196F3;
}

.line-decor::after {
  bottom: -33px;
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 10px 15px 48px 40px;
}

.menu-btn {
  display: block;
  background-color: #fff;
  border: none;
  padding: 0;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-close-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close-icon:hover, .menu-close-icon:focus {
  fill: #2196F3;
}

.mob-nav-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav-list__link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
}
.mob-nav-list__link:hover, .mob-nav-list__link:focus {
  color: #2196F3;
}

.mob-contact-list__item {
  margin-bottom: 32px;
}

.mob-contact-list__item:last-child {
  margin-bottom: 64px;
}

.mob-contact-list__phone {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
}
@media screen and (max-width: 352px) {
  .mob-contact-list__phone {
    font-size: 30px;
  }
}

.mob-contact-list__mail {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 403px) {
  .social-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.social-list__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.line {
  margin-left: 10px;
  margin-right: 10px;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.is-hidden {
  visibility: hidden;
}

.section-title {
  margin: auto;
  height: 600px;
  max-width: 1600px;
  text-align: center;
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4))), url("../images/img-hero.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4)), url("../images/img-hero.jpg");
}

.title {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  padding-top: 200px;
  max-width: 696px;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn-order {
  padding: 10px 32px;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  min-width: 200px;
  min-height: 50px;
  letter-spacing: 0.06em;
  color: #fff;
  border: 1px solid #2196F3;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-order:hover, .btn-order:focus {
  background-color: #188ce8;
}

.advantage-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin: auto;
}

.advantage-list__item {
  width: 100%;
  max-width: 100%;
}
@media screen and (min-width: 1200px) {
  .advantage-list__item {
    width: 270px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .advantage-list__item {
    width: calc((100% - 30px) / 2);
  }
}

.advantage-icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  width: 100%;
}

.advantage-list__title {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .advantage-list__title {
    text-align: center;
  }
}

.advantage-list__description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.services-wrap {
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .services-wrap {
    display: none;
  }
}

.title-services {
  margin-bottom: 50px;
}

.serv-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.img-services {
  position: relative;
}

.img-services__text {
  position: absolute;
  bottom: -1px;
  padding-top: 27px;
  width: 370px;
  height: 70px;
  text-align: center;
  line-height: 1.17;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-team {
  background-color: #F5F4FA;
}

.title-team {
  margin-bottom: 50px;
  font-size: 28px;
}
@media screen and (min-width: 1200px) {
  .title-team {
    font-size: 36px;
  }
}

.team-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.team-card__item {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team-card__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-card__item {
    width: calc((100% - 90px) / 4);
  }
}

.img-team {
  margin-bottom: 30px;
  width: 100%;
  max-width: 100%;
}

.worker-meta__name {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.worker-meta__text {
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}

.team-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.team-icon__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon__link:hover, .team-icon__link:focus {
  background-color: #2196F3;
}
.team-icon__link:hover .team-icon__icon, .team-icon__link:focus .team-icon__icon {
  fill: #fff;
}

.team-icon__icon {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-clients {
  margin-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  .title-clients {
    margin-bottom: 30px;
    font-size: 28px;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media screen and (max-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 60px) / 3);
  }
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 32px;
  border: #AFB1B8 1px solid;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover .client-list__icon, .clients-list__link:focus .client-list__icon {
  fill: #2196F3;
}
.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid #2196F3;
}

.client-list__icon {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.footer {
  background-color: #2F303A;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-box {
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .footer-box__address {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: start;
  }
}

.address-list__link {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list__link:hover, .address-list__link:focus {
  color: #2196F3;
}
.address-list__link--white {
  color: #fff;
}

.join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.join-contacts__title {
  margin-bottom: 20px;
  text-align: center;
}

.join-contacts {
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .join-contacts {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .join-contacts {
    margin-left: 70px;
    margin-right: 93px;
    margin-bottom: 0;
  }
}

.join-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-list__link:hover, .join-list__link:focus {
  background-color: #2196F3;
}

.join-list__icon {
  fill: #fff;
}

.footer-input-title {
  margin-bottom: 20px;
}

.footer-input-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-input-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.btn-distrib {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 32px;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  min-width: 200px;
  min-height: 50px;
  letter-spacing: 0.06em;
  color: #fff;
  border: 1px solid #2196F3;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-send {
  margin-left: 10px;
  fill: #fff;
}

.input-distrib {
  margin-right: 12px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  background-color: #2F303A;
}
@media screen and (min-width: 1200px) {
  .input-distrib {
    width: 358px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-tablet-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tablet-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: opacity 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__title {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.input-field__title {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input {
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 42px;
}
.modal-form__input:focus {
  border-color: #2196F3;
}
.modal-form__input:focus + .icon-input {
  fill: #2196F3;
}

.form-comment {
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 12px;
  height: 120px;
  resize: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-comment::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-comment:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-comment::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-comment::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-comment:focus {
  border-color: #2196F3;
}

.icon-input {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field__title {
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.policy-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.check-input:checked + .checkbox-text > .check-icon-wrap {
  background-color: #2196F3;
  border: none;
}

.checkbox-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.policy-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
}

.form-btn {
  display: block;
  margin: auto;
  padding: 10px 32px;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  min-width: 200px;
  min-height: 50px;
  letter-spacing: 0.06em;
  color: #fff;
  border: 1px solid #2196F3;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover, .form-btn:focus {
  background-color: #188ce8;
}

.close-modal-icon {
  stroke: rgba(0, 0, 0, 0.1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal-icon:hover, .close-modal-icon:focus {
  fill: #2196F3;
}

.close-modal-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  border: none;
  padding: 0;
  background-color: #ffffff;
}

.check-icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 8.35px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
}

@media screen and (max-width: 1200px) {
  .portfolio-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .button-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.button-filter {
  min-width: 112px;
  min-height: 38px;
  background-color: #F5F4FA;
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-filter:hover, .button-filter:focus {
  color: #fff;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.project-list__item {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list__item:hover, .project-list__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-list__item:hover .project-card__description, .project-list__item:focus .project-card__description {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .project-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project-list__item {
    width: calc((100% - 60px) / 3);
  }
}

.project-list__item > description-box__titles:first-child {
  background-color: red;
}

.description-box {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 100%;
}

.description-box__titles {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.project-card__description {
  position: absolute;
  padding: 63px 24px;
  width: 100%;
  max-height: 298px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #fff;
}
@media screen and (max-width: 333px) {
  .project-card__description {
    font-size: 17px;
  }
}
@media screen and (max-width: 768px) {
  .project-card__description {
    top: 100%;
    padding: 71px 24px 83px 24px;
  }
}

.project-card__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project-card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.img-project {
  width: 100%;
  max-width: 100%;
}/*# sourceMappingURL=main.css.map */